body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    height: 10vh;
    font-size: 3.3vh;
    font-family: 'Lucida Sans Unicode','Trebuchet MS';
    color: white;
    background-color: royalblue;
    box-shadow: 0 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    margin: 0;
    flex: 2;
    padding-left: 2%;
}

nav {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
}

a {
   color: white;
   flex: 1;
}

main {
    height: 90vh;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    font-family: 'Lucida Sans Unicode','Trebuchet MS';
    font-size: 3vh;
}

div {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    width: 70vw;
    
}

label {
    flex-grow: 1;
    flex-shrink: 1;
    height: 3.3vh;
    text-align: center;
}

#textfield {
    font-size: large;
    flex-grow: 3;
    flex-shrink: 1;
    border: none;
    border-bottom: 1px solid grey;
}

button{
    flex-grow: 1;
    background-color: royalblue;
    border: none;
    border-radius: 2px;
    color: white;
    height: 3.3vh;
    
}

svg{
    flex-grow: 1;
    flex-shrink: 0;
    height: 4vh;
    min-height: 40px;
    width: auto;
    font-size: large;
}
#textfield::selection, #textfield:focus {
    border: none;
    border-bottom: 2px solid royalblue;
}

ul {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform:translateX(-50%);
}

#save {
    position:fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%);

    height: 5vh;
    width: 50vw;
}

li {
    padding: 0 2% 0 2%;
    display: grid;
    grid-template-columns: 4fr min-content min-content;
    grid-template-rows: auto auto;
    list-style:none;
    width: 60vw;
    box-shadow: 0 2.5px 5px black ;
    margin: 0 0 5px 0;
    transition: transform 0.7s ease-in;  
}
.product {
    grid-row: 1 / span 2;
    justify-self: start;
    align-self: center;
    font-size: large;
}

.date {
    grid-column: 2 / span 2;
    justify-self: end;
    font-size: small;
    white-space: nowrap;
}

.check {
    justify-self: center;
}

.close {
    justify-self: center;
    height: 1.5vh;
    color: darkred;
}




.fade-out {
    transform: translateX(150%);
}


@media only screen and (max-width: 500px) {
    label {
        position: absolute;
        opacity: 0;
        height: 1vh;
        font-size: small;

    }
}