body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    z-index: 20;
    height: 10vh;
    width: 100vw;
    font-size: 3.3vh;
    font-family: 'Lucida Sans Unicode','Trebuchet MS';
    color: white;
    background-color: royalblue;
    box-shadow: 0 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
    margin: 0;
    flex: 2;
    padding-left: 2%;
}

nav {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
}

a {
   color: white;
   flex: 1;
}

main {
    height: 90vh;
    font-family: 'Lucida Sans Unicode','Trebuchet MS';
    font-size: 3vh;
}

#inputArea {
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    top: 10vh;
    height: 15vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 5vw 0 5vw;
    gap: 2.5vw;
    
    }

label {
    flex-grow: 1;
    flex-shrink: 1;
    height: 3.3vh;
    text-align: center;
}

#textfield {
    font-size: large;
    flex-grow: 3;
    flex-shrink: 1;
    border: none;
    border-bottom: 1px solid grey;
}

svg{
    flex-grow: 1;
    flex-shrink: 0;
    height: 4vh;
    min-height: 40px;
    width: auto;
    font-size: large;
}
#textfield::selection, #textfield:focus {
    border: none;
    border-bottom: 2px solid royalblue;
}

/*#save {
    position:fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%);
    height: 5vh;
    width: 50vw;
}*/

#activeList {
    box-sizing: border-box;
    width: 100vw;
    position: static;
    margin: 25vh 0 0 0;
    padding: 0 5vw 0 5vw;
}

#purchases {
    box-sizing: border-box;
    width: 100vw;
    position: static;
    margin: 0 0 0 0;
    padding: 0 5vw 0 5vw;
}

li {
    list-style:none;
    width: 90vw;
    margin: 0 0 10px 0;
    height: 6.5vh;
    border-bottom: solid 1px grey;
    transition: transform 0.7s ease-in;
}

.activeLi {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.purchasedLi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchasedLi .p1 {
    font-size: large;
    text-align: start;
    padding-top: 1vh;
}

.purchasedLi .p2 {
    font-size: small;
    text-align: end;
    padding: 2.5vh 0 0 0;
}


.product {
    grid-row: 1 / span 2;
    justify-self: start;
    align-self: center;
    font-size: large;
}

.date {
    grid-column: 2 / span 2;
    justify-self: end;
    font-size: small;
    white-space: nowrap;
}

.check {
    justify-self: center;
    height: 1.5vh;
    
}

.close {
    justify-self: center;
    height: 1.5vh;
    color: darkred;
}




.fade-out {
    transform: translateX(150%);
}


@media only screen and (max-width: 500px) {
    label {
        position: absolute;
        opacity: 0;
        height: 1vh;
        font-size: small;

    }
}

@media only screen and (min-width: 900px) {
    
    .activeLi {
        display: flex;
        gap: 2.5vw;
        justify-content: space-around;
        align-items: center;
    }
    .date {
        margin: 1.25vh 0 0 0;
    }
}